@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
  font-family: 'RaveParty Wide';
  src: url('../../public/fonts/RavePartyWide.woff2') format('woff2'),
    url('../../public/fonts/RavePartyWide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
