@font-face {
  font-family: 'RaveParty Wide';
  src: url('../../public/fonts/RavePartyWide.woff2') format('woff2'),
    url('../../public/fonts/RavePartyWide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
