@import 'fonts.scss';
@import 'colors.scss';
@import 'tailwind.scss';
@import 'markdown.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-brand-black: #0c0c0c;
  --color-brand-blue: #1987bd;
  --color-brand-purple: #9e1cf3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #909090 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #909090;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--color-brand-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h-screen-navbar {
  height: calc(100vh - 3.5rem);
}

.grecaptcha-badge {
  visibility: hidden;
}

.bg-brand-gradient {
  background-image: linear-gradient(
    -45deg,
    var(--color-brand-blue),
    var(--color-brand-purple)
  ) !important;
  background-size: 100%;
  position: relative !important;
  z-index: 100 !important;
}

.bg-brand-gradient-hover {
  background-image: linear-gradient(
    -45deg,
    var(--color-brand-blue),
    var(--color-brand-purple)
  ) !important;
  background-size: 100%;
  position: relative !important;
  z-index: 100 !important;

  &:before {
    background-image: linear-gradient(
      -45deg,
      darken($color-brand-blue, 10%),
      darken($color-brand-purple, 10%)
    ) !important;
    content: '' !important;
    border-radius: inherit !important;
    display: block !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 0 !important;
    width: 100% !important;
    z-index: -100 !important;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 1 !important;
    }
  }
}

.text-brand-gradient {
  background-image: linear-gradient(to right, #1987bd, #9e1cf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-brand-logo-gradient > path {
  fill: url(#brand-logo-gradient) #ffffff !important;
}

#logoGrad,
#logoWhite {
  pointer-events: none;

  & > path {
    transition: opacity 0.3s ease-in-out;
    pointer-events: auto;
  }
}

#logoGrad > path {
  opacity: 0 !important;

  &:hover {
    opacity: 1 !important;
  }
}

#logoWhite > path {
  opacity: 1 !important;
}

#logoWhite[data-hide='true'] > path {
  opacity: 0 !important;
}
