@import 'fonts.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-brand-black: #0c0c0c;
  --color-brand-blue: #1987bd;
  --color-brand-purple: #9e1cf3;
  --color-dark-accent: #050505;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h-screen-navbar {
  height: calc(100vh - 3.5rem);
}
