@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@font-face {
  font-family: "D-DIN";
  src: "public/fonts/D-DIN.otf";
}

:root {
  --brand-black: #0c0c0c;
  --brand-blue: #1987bd;
  --brand-purple: #9e1cf3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #909090 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #909090;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: D-DIN, Anybody, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--brand-black);
}

@media (max-width: 75em) {
  .main-text {
    font-size: 2.5vw !important;
  }

  .try-button {
    padding: 2vw 3vw !important;
    font-size: 1.7vw !important;
  }
}

@media (max-width: 58em) {
  .main-text {
    font-size: 3vw !important;
  }

  .try-button {
    padding: 1em 1.5em !important;
    font-size: 1em !important;
  }

  .main-container {
    width: 75% !important;
  }
}

@media (max-width: 38em) {
  .main-text {
    font-size: 1.5em !important;
  }
}

.main-container {
  padding: 15em 0 5em 0;
  padding: 22vh 0 10vh 0;
  width: 50%;
  margin: 0 auto;
}

.header-text {
  padding: 0;
  margin: 0;
  font-family: Zen Dots;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #1987bd, #9e1cf3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text {
  font-size: 2em;
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.try-button {
  background-image: linear-gradient(
    -45deg,
    var(--brand-blue),
    var(--brand-purple)
  );
  border: none;
  border-radius: 1px;
  color: white;
  padding: 1.25em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  margin: 0 0.125em 0.25em 0.125em;
  cursor: pointer;
}

.link {
  color: var(--brand-blue);
}
